<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outman.mapper.LawerMapper">
  <resultMap id="BaseResultMap" type="com.outman.po.Lawer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="lawer_name" jdbcType="VARCHAR" property="lawerName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="webSite" jdbcType="VARCHAR" property="website" />
    <result column="goodAt" jdbcType="VARCHAR" property="goodat" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company, lawer_name, phone, address, webSite, goodAt, profile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from g_lawer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from g_lawer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.outman.po.Lawer">
    insert into g_lawer (id, company, lawer_name, 
      phone, address, webSite, 
      goodAt, profile)
    values (#{id,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{lawerName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{goodat,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.outman.po.Lawer">
    insert into g_lawer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="lawerName != null">
        lawer_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="website != null">
        webSite,
      </if>
      <if test="goodat != null">
        goodAt,
      </if>
      <if test="profile != null">
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="lawerName != null">
        #{lawerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="goodat != null">
        #{goodat,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.outman.po.Lawer">
    update g_lawer
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="lawerName != null">
        lawer_name = #{lawerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        webSite = #{website,jdbcType=VARCHAR},
      </if>
      <if test="goodat != null">
        goodAt = #{goodat,jdbcType=VARCHAR},
      </if>
      <if test="profile != null">
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.outman.po.Lawer">
    update g_lawer
    set company = #{company,jdbcType=VARCHAR},
      lawer_name = #{lawerName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      webSite = #{website,jdbcType=VARCHAR},
      goodAt = #{goodat,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from g_lawer
  </select>
</mapper>