<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outman.mapper.NoticeMapper">
    <resultMap id="BaseResultMap" type="com.outman.po.Notice">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="list_id" jdbcType="INTEGER" property="listId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="is_checked" jdbcType="BIT" property="isChecked"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="todolistId" jdbcType="VARCHAR" property="todolistid"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, shop_id, list_id, name, is_checked, time, todolistId, org_id, user_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from g_notice
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from g_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByToDoListId" parameterType="java.lang.String">
     delete from g_notice
    where todolistid = #{todolistid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.outman.po.Notice">
    insert into g_notice (id, shop_id, list_id, 
      name, is_checked, time, 
      todolistId, org_id, user_id)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{listId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{isChecked,jdbcType=BIT}, #{time,jdbcType=TIMESTAMP}, 
      #{todolistid,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.outman.po.Notice">
        insert into g_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="listId != null">
                list_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="isChecked != null">
                is_checked,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="todolistid != null">
                todolistId,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="listId != null">
                #{listId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isChecked != null">
                #{isChecked,jdbcType=BIT},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="todolistid != null">
                #{todolistid,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.outman.po.Notice">
        update g_notice
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="listId != null">
                list_id = #{listId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isChecked != null">
                is_checked = #{isChecked,jdbcType=BIT},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="todolistid != null">
                todolistId = #{todolistid,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.outman.po.Notice">
    update g_notice
    set shop_id = #{shopId,jdbcType=INTEGER},
      list_id = #{listId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      is_checked = #{isChecked,jdbcType=BIT},
      time = #{time,jdbcType=TIMESTAMP},
      todolistId = #{todolistid,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByNotice" parameterType="com.outman.po.Notice" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from g_notice
        <where>
            <if test="shopId != null">
                and shop_id=#{shopId}
            </if>
            <if test="listId != null">
                and list_id=#{listId}
            </if>
            <if test="name != 0 and name != null">
                and name=#{name}
            </if>
            <if test="isChecked != 0 and isChecked != null">
                and is_checked=#{isChecked}
            </if>
            <if test="time != 0 and time != null">
                and time=#{time}
            </if>
            <if test="todolistid != 0 and todolistid != null">
                and todolistId=#{todolistid}
            </if>
            <if test="orgId != null">
                and org_id=#{orgId}
            </if>
            <if test="userId != null">
                and user_id=#{userId}
            </if>
        </where>
    </select>

    <select id="selectNoticeByToDoListId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from g_notice
        where todolistid = #{todolistid,jdbcType=VARCHAR}
    </select>
    <select id="getAllNotice" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from g_notice
    </select>

    <select id="selectByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from g_notice
        where shop_id = #{shopId,jdbcType=INTEGER}
        and list_id = #{listId,jdbcType=INTEGER}
        and org_id= #{orgId,jdbcType=INTEGER}
        and user_id = #{userId,jdbcType=INTEGER}
    </select>

</mapper>