<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outman.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.outman.po.Org">
    <id column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_industry" jdbcType="SMALLINT" property="orgIndustry" />
  </resultMap>
  <sql id="Base_Column_List">
    org_id, org_name, org_industry
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from g_org
    where org_id = #{orgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from g_org
    where org_id = #{orgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.outman.po.Org">
    insert into g_org (org_id, org_name, org_industry
      )
    values (#{orgId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, #{orgIndustry,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.outman.po.Org">
    insert into g_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgIndustry != null">
        org_industry,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgIndustry != null">
        #{orgIndustry,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.outman.po.Org">
    update g_org
    <set>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgIndustry != null">
        org_industry = #{orgIndustry,jdbcType=SMALLINT},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.outman.po.Org">
    update g_org
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_industry = #{orgIndustry,jdbcType=SMALLINT}
    where org_id = #{orgId,jdbcType=BIGINT}
  </update>
</mapper>